
# name of the file with TCGAID:
INPUT="TARGET.TCGAID.FILELIST"

# name of the file with matching HLA:
HLA="TARGET.TCGAID.HLA.ALLELE.FILELIST"

# project name:
PROJECT="PROJECT.NAME"

# R script for biomart:
BIOMART="frameshift.biomart-get-sequence.R"

# source path to mutation data:
SOURCE="/path/to/TCGA/called_mutations/2018/union/folder"
