
# name of the file with TCGAID:
INPUT="lung.tcgaid.list"

# name of the file with matching HLA:
HLA="lung.hla.list"

# project name:
PROJECT="lung"

# R script for biomart:
BIOMART="frameshift.biomart-get-sequence.R"

# source path to mutation data:
SOURCE="/work/TCGA/complete_data/2018/mutation_merged_cleaned.jan2018"
